{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Sign In | ODLRS{% endblock %}

{% block content %}


<div class="box login-bg">

	<div class="container">
		<!-- <div class="row my-">
			<div class="col-sm-4 offset-4 text-cente"> -->

		<div class="card log-box">
			<!-- <div class="card-header bg-warnin">
					</div> -->

			<div class="card-body pb-">

				<h3>{% trans "Sign In" %}</h3>

				<!-- SignUp form -->
				<form class="login mt-4" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
					{{ form.as_p }}

					{% if redirect_field_value %}
					<input type="hidden" class="form-control" name="{{ redirect_field_name }}"
						value="{{ redirect_field_value }}" />
					{% endif %}

					<button class="btn w-100 my-4 login-btn primaryAction" type="submit"
						style="width: 80%">{% trans "Sign In" %}</button>
				</form>
				<!-- SignUp form end -->

				<!-- Google_login and Not_Registered_Yet? section -->
				{% get_providers as socialaccount_providers %}

				{% if socialaccount_providers %}
				<div class="boxx1 text-center borde">
					<span>
						<img class="mr-2" src="../../static/images/search.png" alt="google">
						Login with
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					</span>
					<!-- <span class="px-2"> OR </span> -->
				</div>
				<div class="boxx2 text-center">
					<span>
						{% blocktrans with site.name as site_name %}
						<strong>Not a member?</strong>
						<a href="{{ signup_url }}">Create new account</a>
						{% endblocktrans %}
					</span>
				</div>
				{% else %}
				<div class="box">
					{% blocktrans %}
					<a href="{{ signup_url }}">Create new account</a> first.
					{% endblocktrans %}
				</div>
				{% endif %}
				<!-- Google_login and Not_Registered_Yet? section END -->

			</div>

			<div class="card-foote">
				<div class="google-logi text-center text-whit">
					<!-- <div class="box mb-2">
						Sign Up with
					</div> -->



				</div>
			</div>
		</div>

		<!-- </div>
		</div> -->
	</div>

</div>

{% endblock %}


<!-- Login with Google -->
<!-- <p>{% include "socialaccount/snippets/provider_list.html" with process="login" %}</p>
<hr> -->
<!-- Login with Google end -->

<!-- Signup -->
<!-- <p>
	{% blocktrans with site.name as site_name %}
	<a href="{{ signup_url }}">sign up</a>
	{% endblocktrans %}
</!-->
<!-- Signup end -->

<!-- Original All-auth Login_form codes -->

{#{% extends "base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% load account socialaccount %}#}
{##}
{#{% block title %}Sign In | ODLRS{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#<h1>{% trans "Sign In" %}</h1>#}
{##}
{#{% get_providers as socialaccount_providers %}#}
{##}
{#{% if socialaccount_providers %}#}
{##}
{#    <p>{% blocktrans with site.name as site_name %}Please sign in with one#}
{#    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
{#    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
{##}
{#    <div class="socialaccount_ballot">#}
{#      <ul class="socialaccount_providers">#}
{#        {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#      </ul>#}
{#      <div class="login-or">{% trans 'or' %}</div>#}
{#    </div>#}
{##}
{#    {% include "socialaccount/snippets/login_extra.html" %}#}
{##}
{#{% else %}#}
{##}
{#    <p>{% blocktrans %}If you have not created an account yet, then please#}
{#    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
{##}
{#{% endif %}#}
{##}
{#<form class="login" method="POST" action="{% url 'account_login' %}">#}
{##}
{#  {% csrf_token %}#}
{##}
{#  {{ form.as_p }}#}
{##}
{#  {% if redirect_field_value %}#}
{#    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{##}
{#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{##}
{#</form>#}
{##}
{#{% endblock %}#}

<!-- Original All-auth Login_form codes -->