{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="containe box login-bg">
	<div class="cotainer">
		<div class="card log-box text-center py-2 px-5">
			<div class="card-body">
				<h4 class="text-uppercase">{% trans 'Are you sure you want to sign out?' %}</h4>

				<form method="post" action="{% url 'account_logout' %}" class="login">
					{% csrf_token %}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit" class="btn login-btn btn-s px-5 mt-3">{% trans 'YES' %}</button>
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}