{% extends 'base.html' %}

{% block title %}Edit Profile | ODLRS{% endblock %}

{% block content %}

<style>
    img {
        border-radius: 50%;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card text-center my-4">

                <div class="card-header">
                    <h3>Edit Your Profile</h3>
                </div>

                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <img src="{{ existing_profile.image.url }}" alt="image" height="200" width="200">

                        {{profile_form.as_p}}

                        <hr>
                        <button type="submit" class="btn btn-dark my-2">Update</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>






{% endblock %}