{% extends 'base.html' %}

{% block title %}Login | ODLRS{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">

        <form action="." method="POST">
            {% csrf_token %}

            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password.label_tag}}
            {{ form.password}}

            {{ form.remember.label_tag }}
            {{ form.remember}}

            <button type="submit" class="btn btn-primary float-right">Login</button>
        </form>

    </div>
</div>

{% endblock content %}