{% extends 'base.html' %}

{% block title %}Update Profile | ODLRS{% endblock %}

{% block content %}

    <h1>Update Your Profile</h1>



    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <img src="{{ existing_profile.image.url }}" alt="image" height="200" width="200">

        <br>{{profile_form.as_p}}

{#        {{ existing_profile.user.username }}<br>#}
{#        {{ existing_profile.user.email }}#}
        <hr>
        <button type="submit" class="btn btn-dark my-2">Update</button>

    </form>

{% endblock %}