@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600i,700|Roboto:300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

$darkgreen: #328691;
$lightgreen: #3ebec7;
$overlightgreen: #3ec1c9;

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
a {
  text-decoration: none;
}

.custom-btn {
  background: $lightgreen;
  color: white;
  font-weight: 600;

  &:hover {
    background: $darkgreen;
  }
}

.card-bottom-img {
  background: url(../images/round-pic.png) no-repeat;
  width: 100%;
  height: 45px;
}

.common-bg {
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  width: 100%;
  // height: 100%;
  padding-top: 6rem;
  position: absolute;
  overflow: auto;
  z-index: -99;
}

.card,
.card-header,
.card-footer {
  border: 0;
}

.card-header h3,
.card-header h2 {
  position: relative;
  top: 20px;
}

html,
body {
  background: #f8f8f8;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar {
  background: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background: #328691;
  border-bottom: 3px solid white;

  ul li a {
    color: #fff;
    // text-transform: uppercase;
    font-size: 16px;
    outline: none;
  }

  .user-profile {
    position: relative;
    img {
      width: 25px;
      height: 25px;
      border: 2px solid white;
    }

    ul.dropdown {
      list-style: none;
      background: white;
      padding: 5px 0;
      padding-top: 15px;
      border-radius: 3px;
      width: 180px;
      position: absolute;
      top: 40px;
      right: 0px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

      display: none;

      li {
        padding: 0;

        &.dropdown-item {
          line-height: 30px;
          background: transparent;

          a {
            transition: all 0.3s ease 0s;

            &:hover {
              padding-left: 20px;
            }
          }
        }

        p {
          font-size: 14px;
          padding-top: 5px;
          color: $darkgreen;
          font-weight: 500;
        }

        img {
          width: 50px;
          height: 50px;
          margin-bottom: 0;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }

        a {
          color: #62626b;
          font-size: 13px;
          padding: 0 12px;
          display: block;
          text-decoration: none;

          &:hover {
            color: $darkgreen;
          }
        }
      }
    }
  }
}

.header-image {
  background: url(../images/bg-image.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  .header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;

    h2 {
      font-size: 80px;
      font-weight: bold;
    }

    h5 {
      margin-left: 5px;
    }

    a.btn {
      color: white;
      background: linear-gradient(to left, #3ebec7, #328691);
      padding: 10px 20px;
      margin-top: 2rem;
      border: none;
      border-radius: 0;
      font-weight: bold;
      border: 600;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;

      &:hover i.fa {
        transform: rotate(90deg);
        transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        -ms-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
      }
    }
  }
}

.inner-content {
  padding-top: 5.5rem;
  min-height: 90vh;
}

p {
  margin-bottom: 0;
}

.test-box {
  // margin-bottom: 3rem;
  width: 100%;
  height: auto;
  background: none;
  border: 0;

  .card-title {
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    img {
      border-radius: 10px;
      min-height: 200px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .card-body {
    width: 90%;
    min-height: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    top: -50px;
    background: #fff;
    // padding-bottom: 0;

    p {
      font-size: 14px;
      color: #969696;

      &.price {
        margin-top: 10px;
      }
    }

    h6 {
      font-size: 18px;
      margin-bottom: 0;

      a {
        color: #3ec1c9;
        text-decoration: none;
      }
    }
  }

  a.order-btn {
    position: relative;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100px;
    border-radius: 30px;
    background: #3ec1c9;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.add-to-cart-box {
  position: fixed;
  top: 20%;
  right: -350px;
  width: 350px;
  height: 400px;
  z-index: 1111;
  display: block;
}

.login-bg {
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  width: 100%;
  min-height: 91.5vh;

  .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .log-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    .card-body {
      padding: 2rem;
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      color: $darkgreen;
    }

    h2,
    h6 {
      color: $darkgreen;
    }

    .login {
      label {
        text-transform: uppercase;
        font-size: 12px;
        color: $darkgreen;
      }

      p:nth-child(4) {
        display: flex;

        input#id_remember {
          width: auto;
          margin-top: 1px !important;
          margin-left: 6px !important;
          cursor: pointer;
        }
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid lightblue;
        width: 100%;
        // color: white;
        line-height: 30px;
        margin-bottom: 1rem;

        &:focus {
          background: transparent;
          box-shadow: none;
          outline: none;
        }

        &::placeholder {
          display: none;
        }
      }

      .form-control {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        padding: 0;
      }
    }

    .signup {
      label {
        text-transform: uppercase;
        font-size: 12px;
        color: $darkgreen;
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid lightblue;
        width: 100%;
        // color: white;
        line-height: 30px;
        margin-bottom: 1rem;

        &:focus {
          background: transparent;
          box-shadow: none;
          outline: none;
        }
      }

      .form-control {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        padding: 0;
      }
    }
  }

  .card-form {
    h3 {
      text-align: center;
      text-transform: uppercase;
      color: $darkgreen;
      margin-bottom: 2rem;
    }

    label {
      text-transform: uppercase;
      font-size: 12px;
      color: $darkgreen;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid lightblue;
      width: 100%;
      // color: white;
      line-height: 30px;
      margin-bottom: 1rem;

      &:focus {
        background: transparent;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        display: none;
      }
    }

    .custom-select {
      border: none;
      border-bottom: 1px solid lightblue;
      width: 100%;
      line-height: 30px;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    option {
      font-size: 14px;
    }

    .form-control,
    .custom-select {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      padding: 0;
    }

    .card-body {
      .for-date-time {
        p:nth-child(8) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;

          label {
            grid-column-start: 1;
            grid-column-end: 4;
          }

          .custom-select {
            border-left: 1px solid lightblue;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .order-form {
    h3 {
      text-align: center;
      text-transform: uppercase;
      color: $darkgreen;
      margin-bottom: 2rem;
    }

    p {
      //   color: #969696;

      span:first-child {
        color: #21707a;
        font-weight: 500;
        padding-right: 15px;
      }

      span:last-child {
        color: #62626b;
      }
    }
  }
}

.google-login {
  .box:first-child {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .box:nth-child(2) {
    font-size: 13px;
    text-transform: uppercase;
    color: white;

    a {
      color: white;
    }
  }
}

.card-footer {
  // width: 85%;
  // text-align: center;
  // margin: auto;
  // border: 0;
  // background: $darkgreen;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  // border-radius: 8px 8px 0 0 !important;
  // -webkit-border-radius: 8px 8px 0 0 !important;
  // -moz-border-radius: 8px 8px 0 0 !important;
  // -ms-border-radius: 8px 8px 0 0 !important;
  // -o-border-radius: 8px 8px 0 0 !important;
}

.boxx1 {
  border: 0.5px solid #328691;
  color: #328691;
  padding: 6px;
  margin-bottom: 12px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

  span {
    font-size: 13px;
    font-weight: 500;

    a {
      color: #328691;
    }
  }
}

.boxx2 {
  span {
    font-size: 13px;

    a {
      color: black;
    }
  }
}

.login-btn {
  color: white;
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.list-group {
  list-style: none;
  padding: 0 1rem;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.profile-bg {
  border: 0;
  border-radius: 3px !important;

  img {
    border: 5px solid white;
    box-shadow: 0 0 3px rgba(12, 6, 41, 0.3);
  }
}

.order-table {
  a {
    text-decoration: none;
    // color: #000;
    outline: none;
  }
}

.report {
  p,
  a,
  td {
    font-size: 15px;
  }
}

.single-reports,
.card-width {
  width: 60%;
  height: 100%;
  margin: auto;
  position: relative;
  // z-index: 999999999999;

  .card {
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    .alert {
      a {
        font-size: 20px;
        padding-top: 1px;
        text-decoration: none;
        font-weight: bold;
        line-height: normal;
        color: #333333;
      }
    }
  }
}

.group {
  margin-bottom: 10px;

  p {
    &:first-child {
      font-size: 14px;
      color: $darkgreen;
    }

    &:last-child {
      color: #62626b;
      padding: 6px 0;
      border-bottom: 1px solid #eaeaea;
      font-size: 16px;
    }
  }

  a {
    font-size: 16px;
    color: #62626b;
    display: block;
    padding: 6px 0 !important;
    border-bottom: 1px solid #eaeaea;
  }
}

.footer {
  background: #328691;
  position: relative;
  z-index: 11;
}

.search-box {
  padding: 1.5rem;

  h3 {
    margin-bottom: 1rem;
  }

  input {
    padding: 8px 12px;
  }
}

///////////////////////////////////////////////////////////
///////////////////// RESPONOSIVE DESIGN //////////////////
///////////////////////////////////////////////////////////
@media (min-width: 1025px) and (max-width: 1200px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

    .header-content {
      top: 55%;
    }

    h1 {
      // font-size: 28px !important;
      margin-bottom: -10px;
    }

    h2 {
      font-size: 80px !important;
      margin-bottom: 0;
    }

    h5 {
      font-size: 16px !important;
    }

    a {
      margin-top: 1rem !important;
      font-size: 14px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

    .header-content {
      top: 55%;
    }

    h1 {
      font-size: 28px !important;
      margin-bottom: -10px;
    }

    h2 {
      font-size: 50px !important;
      margin-bottom: 0;
    }

    h5 {
      font-size: 16px !important;
    }

    a {
      margin-top: 1rem !important;
      font-size: 14px;
    }
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .user-profile {
    ul.dropdown {
      // width: 100% !important;
      left: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

    .header-content {
      top: 55%;
    }

    h1 {
      font-size: 28px !important;
      margin-bottom: -10px;
    }

    h2 {
      font-size: 50px !important;
      margin-bottom: 0;
    }

    h5 {
      font-size: 16px !important;
    }

    a {
      margin-top: 1rem !important;
      font-size: 14px;
    }
  }
}
@media (max-width: 575px) {
  .search-box {
    padding: 15px 0;
  }

  .header-image {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: left;

    .header-content {
      top: 55%;
    }

    h1 {
      font-size: 28px !important;
      margin-bottom: -10px;
    }

    h2 {
      font-size: 50px !important;
      margin-bottom: 0;
    }

    h5 {
      font-size: 16px !important;
      margin-left: 2px !important;
    }

    a {
      margin-top: 1rem !important;
      font-size: 14px;
    }
  }
}

@media (min-width: 415px) and (max-width: 575px) {
  .login-bg .log-box,
  .card-width {
    width: 70%;
  }

  .user-profile {
    ul.dropdown {
      left: 0;
    }
  }
}

@media (max-width: 414px) {
  .search-box h3 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .header-image {
    .header-content {
      top: 58%;

      h1 {
        font-size: 28px !important;
        margin-bottom: -10px;
      }
      h2 {
        font-size: 50px;
        margin-bottom: 0;
      }
      h5 {
        font-size: 16px !important;
      }
      a {
        margin-top: 1rem;
        font-size: 14px;
      }
    }
  }
  .navbar-nav {
    // text-align: center;
    li.nav-item {
      border-bottom: 1px solid #31808a;

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        border-top: 1px solid #31808a;
      }

      a.nav-link {
        text-transform: uppercase;
        font-size: 13px !important;
      }
    }

    .user-profile {
      ul.dropdown {
        width: 100% !important;
      }
    }
  }

  .login-bg .log-box {
    width: 90% !important;
  }
  .single-reports,
  .card-width {
    width: 95%;
    height: 100%;
  }
}

///////////////////////////////////////////////////////////
///////////////////// RESPONOSIVE DESIGN //////////////////
///////////////////////////////////////////////////////////
