* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  background: #f8f8f8;
}

nav.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

nav.navbar ul li a {
  color: #328691;
}

.header-image {
  background: url(../images/bg-image.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-image .header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  text-transform: uppercase;
}

.header-image .header-content h2 {
  font-size: 80px;
  font-weight: bold;
}

.header-image .header-content h5 {
  margin-left: 5px;
}

.header-image .header-content a.btn {
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#3ebec7), to(#328691));
  background: linear-gradient(to left, #3ebec7, #328691);
  padding: 10px 20px;
  margin-top: 2rem;
  border: none;
  border-radius: 0;
  font-weight: bold;
  border: 600;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.header-image .header-content a.btn:hover i.fa {
  transform: rotate(90deg);
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

p {
  margin-bottom: 0;
}

.card {
  width: 100%;
  height: auto;
  background: none;
  border: 0;
  /* .btn-block button{} */
}

.card .card-title {
  margin-bottom: 0;
}

.card .card-title img {
  border-radius: 10px;
  min-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card .card-body {
  width: 90%;
  min-height: 150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  top: -50px;
  background: #fff;
  padding-bottom: 0;
}

.card .card-body p {
  font-size: 14px;
  color: #969696;
}

.card .card-body p.price {
  margin-top: 10px;
}

.card .card-body h6 {
  font-size: 18px;
  margin-bottom: 0;
}

.card .card-body h6 a {
  color: #3ec1c9;
  text-decoration: none;
}

.card a.order-btn {
  position: relative;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100px;
  border-radius: 30px;
  background: #3ec1c9;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.card .add-to-cart-box {
  position: fixed;
  top: 20%;
  right: -350px;
  width: 350px;
  height: 400px;
  z-index: 1111;
  display: block;
}
/*# sourceMappingURL=style.css.map */