* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0;
}

.card {
    margin-bottom: 3rem;

}

.add-to-cart-box {
    position: fixed;
    top: 20%;
    right: -350px;
    width: 350px;
    height: 400px;
    z-index: 1111;
    display: block;
}

.welcome .card-body {
    min-height: 190px;
}

.btn-block {
    /* margin: auto; */
    margin-bottom: -15px;

}

/* .btn-block button{} */