@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600i,700|Roboto:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

button:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

.custom-btn {
  background: #3ebec7;
  color: white;
  font-weight: 600;
}

.custom-btn:hover {
  background: #328691;
}

.card-bottom-img {
  background: url(../images/round-pic.png) no-repeat;
  width: 100%;
  height: 45px;
}

.common-bg {
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  width: 100%;
  padding-top: 6rem;
  position: absolute;
  overflow: auto;
  z-index: -99;
}

.card,
.card-header,
.card-footer {
  border: 0;
}

.card-header h3,
.card-header h2 {
  position: relative;
  top: 20px;
}

html,
body {
  background: #f8f8f8;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav.navbar {
  background: transparent;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background: #328691;
  border-bottom: 3px solid white;
}

nav.navbar ul li a {
  color: #fff;
  font-size: 16px;
  outline: none;
}

nav.navbar .user-profile {
  position: relative;
}

nav.navbar .user-profile img {
  width: 25px;
  height: 25px;
  border: 2px solid white;
}

nav.navbar .user-profile ul.dropdown {
  list-style: none;
  background: white;
  padding: 5px 0;
  padding-top: 15px;
  border-radius: 3px;
  width: 180px;
  position: absolute;
  top: 40px;
  right: 0px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
}

nav.navbar .user-profile ul.dropdown li {
  padding: 0;
}

nav.navbar .user-profile ul.dropdown li.dropdown-item {
  line-height: 30px;
  background: transparent;
}

nav.navbar .user-profile ul.dropdown li.dropdown-item a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav.navbar .user-profile ul.dropdown li.dropdown-item a:hover {
  padding-left: 20px;
}

nav.navbar .user-profile ul.dropdown li p {
  font-size: 14px;
  padding-top: 5px;
  color: #328691;
  font-weight: 500;
}

nav.navbar .user-profile ul.dropdown li img {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

nav.navbar .user-profile ul.dropdown li a {
  color: #62626b;
  font-size: 13px;
  padding: 0 12px;
  display: block;
  text-decoration: none;
}

nav.navbar .user-profile ul.dropdown li a:hover {
  color: #328691;
}

.header-image {
  background: url(../images/bg-image.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-image .header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.header-image .header-content h2 {
  font-size: 80px;
  font-weight: bold;
}

.header-image .header-content h5 {
  margin-left: 5px;
}

.header-image .header-content a.btn {
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#3ebec7), to(#328691));
  background: linear-gradient(to left, #3ebec7, #328691);
  padding: 10px 20px;
  margin-top: 2rem;
  border: none;
  border-radius: 0;
  font-weight: bold;
  border: 600;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.header-image .header-content a.btn:hover i.fa {
  transform: rotate(90deg);
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.inner-content {
  padding-top: 5.5rem;
  min-height: 90vh;
}

p {
  margin-bottom: 0;
}

.test-box {
  width: 100%;
  height: auto;
  background: none;
  border: 0;
}

.test-box .card-title {
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.test-box .card-title img {
  border-radius: 10px;
  min-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.test-box .card-body {
  width: 90%;
  min-height: 150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  top: -50px;
  background: #fff;
}

.test-box .card-body p {
  font-size: 14px;
  color: #969696;
}

.test-box .card-body p.price {
  margin-top: 10px;
}

.test-box .card-body h6 {
  font-size: 18px;
  margin-bottom: 0;
}

.test-box .card-body h6 a {
  color: #3ec1c9;
  text-decoration: none;
}

.test-box a.order-btn {
  position: relative;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100px;
  border-radius: 30px;
  background: #3ec1c9;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.add-to-cart-box {
  position: fixed;
  top: 20%;
  right: -350px;
  width: 350px;
  height: 400px;
  z-index: 1111;
  display: block;
}

.login-bg {
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  width: 100%;
  min-height: 91.5vh;
}

.login-bg .card {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.login-bg .log-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login-bg .log-box .card-body {
  padding: 2rem;
}

.login-bg .log-box h3 {
  text-align: center;
  text-transform: uppercase;
  color: #328691;
}

.login-bg .log-box h2,
.login-bg .log-box h6 {
  color: #328691;
}

.login-bg .log-box .login label {
  text-transform: uppercase;
  font-size: 12px;
  color: #328691;
}

.login-bg .log-box .login p:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-bg .log-box .login p:nth-child(4) input#id_remember {
  width: auto;
  margin-top: 1px !important;
  margin-left: 6px !important;
  cursor: pointer;
}

.login-bg .log-box .login input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightblue;
  width: 100%;
  line-height: 30px;
  margin-bottom: 1rem;
}

.login-bg .log-box .login input:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-bg .log-box .login input::-webkit-input-placeholder {
  display: none;
}

.login-bg .log-box .login input:-ms-input-placeholder {
  display: none;
}

.login-bg .log-box .login input::-ms-input-placeholder {
  display: none;
}

.login-bg .log-box .login input::placeholder {
  display: none;
}

.login-bg .log-box .login .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
}

.login-bg .log-box .signup label {
  text-transform: uppercase;
  font-size: 12px;
  color: #328691;
}

.login-bg .log-box .signup input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightblue;
  width: 100%;
  line-height: 30px;
  margin-bottom: 1rem;
}

.login-bg .log-box .signup input:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-bg .log-box .signup .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
}

.login-bg .card-form h3 {
  text-align: center;
  text-transform: uppercase;
  color: #328691;
  margin-bottom: 2rem;
}

.login-bg .card-form label {
  text-transform: uppercase;
  font-size: 12px;
  color: #328691;
}

.login-bg .card-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightblue;
  width: 100%;
  line-height: 30px;
  margin-bottom: 1rem;
}

.login-bg .card-form input:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-bg .card-form input::-webkit-input-placeholder {
  display: none;
}

.login-bg .card-form input:-ms-input-placeholder {
  display: none;
}

.login-bg .card-form input::-ms-input-placeholder {
  display: none;
}

.login-bg .card-form input::placeholder {
  display: none;
}

.login-bg .card-form .custom-select {
  border: none;
  border-bottom: 1px solid lightblue;
  width: 100%;
  line-height: 30px;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.login-bg .card-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-bg .card-form option {
  font-size: 14px;
}

.login-bg .card-form .form-control,
.login-bg .card-form .custom-select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 0;
}

.login-bg .card-form .card-body .for-date-time p:nth-child(8) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.login-bg .card-form .card-body .for-date-time p:nth-child(8) label {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.login-bg .card-form .card-body .for-date-time p:nth-child(8) .custom-select {
  border-left: 1px solid lightblue;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.login-bg .order-form h3 {
  text-align: center;
  text-transform: uppercase;
  color: #328691;
  margin-bottom: 2rem;
}

.login-bg .order-form p span:first-child {
  color: #21707a;
  font-weight: 500;
  padding-right: 15px;
}

.login-bg .order-form p span:last-child {
  color: #62626b;
}

.google-login .box:first-child {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.google-login .box:nth-child(2) {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
}

.google-login .box:nth-child(2) a {
  color: white;
}

.boxx1 {
  border: 0.5px solid #328691;
  color: #328691;
  padding: 6px;
  margin-bottom: 12px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.boxx1 span {
  font-size: 13px;
  font-weight: 500;
}

.boxx1 span a {
  color: #328691;
}

.boxx2 span {
  font-size: 13px;
}

.boxx2 span a {
  color: black;
}

.login-btn {
  color: white;
  background: linear-gradient(45deg, #63d5da, #8962f0, #e839f4);
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.list-group {
  list-style: none;
  padding: 0 1rem;
}

.list-group li {
  padding: 10px 0;
  border-bottom: 1px solid #333333;
}

.list-group li:last-child {
  border-bottom: 0;
}

.profile-bg {
  border: 0;
  border-radius: 3px !important;
}

.profile-bg img {
  border: 5px solid white;
  -webkit-box-shadow: 0 0 3px rgba(12, 6, 41, 0.3);
          box-shadow: 0 0 3px rgba(12, 6, 41, 0.3);
}

.order-table a {
  text-decoration: none;
  outline: none;
}

.report p,
.report a,
.report td {
  font-size: 15px;
}

.single-reports,
.card-width {
  width: 60%;
  height: 100%;
  margin: auto;
  position: relative;
}

.single-reports .card,
.card-width .card {
  border: 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.single-reports .card .alert a,
.card-width .card .alert a {
  font-size: 20px;
  padding-top: 1px;
  text-decoration: none;
  font-weight: bold;
  line-height: normal;
  color: #333333;
}

.group {
  margin-bottom: 10px;
}

.group p:first-child {
  font-size: 14px;
  color: #328691;
}

.group p:last-child {
  color: #62626b;
  padding: 6px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
}

.group a {
  font-size: 16px;
  color: #62626b;
  display: block;
  padding: 6px 0 !important;
  border-bottom: 1px solid #eaeaea;
}

.footer {
  background: #328691;
  position: relative;
  z-index: 11;
}

.search-box {
  padding: 1.5rem;
}

.search-box h3 {
  margin-bottom: 1rem;
}

.search-box input {
  padding: 8px 12px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }
  .header-image .header-content {
    top: 55%;
  }
  .header-image h1 {
    margin-bottom: -10px;
  }
  .header-image h2 {
    font-size: 80px !important;
    margin-bottom: 0;
  }
  .header-image h5 {
    font-size: 16px !important;
  }
  .header-image a {
    margin-top: 1rem !important;
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }
  .header-image .header-content {
    top: 55%;
  }
  .header-image h1 {
    font-size: 28px !important;
    margin-bottom: -10px;
  }
  .header-image h2 {
    font-size: 50px !important;
    margin-bottom: 0;
  }
  .header-image h5 {
    font-size: 16px !important;
  }
  .header-image a {
    margin-top: 1rem !important;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .user-profile ul.dropdown {
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }
  .header-image .header-content {
    top: 55%;
  }
  .header-image h1 {
    font-size: 28px !important;
    margin-bottom: -10px;
  }
  .header-image h2 {
    font-size: 50px !important;
    margin-bottom: 0;
  }
  .header-image h5 {
    font-size: 16px !important;
  }
  .header-image a {
    margin-top: 1rem !important;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .search-box {
    padding: 15px 0;
  }
  .header-image {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: left;
  }
  .header-image .header-content {
    top: 55%;
  }
  .header-image h1 {
    font-size: 28px !important;
    margin-bottom: -10px;
  }
  .header-image h2 {
    font-size: 50px !important;
    margin-bottom: 0;
  }
  .header-image h5 {
    font-size: 16px !important;
    margin-left: 2px !important;
  }
  .header-image a {
    margin-top: 1rem !important;
    font-size: 14px;
  }
}

@media (min-width: 415px) and (max-width: 575px) {
  .login-bg .log-box,
  .card-width {
    width: 70%;
  }
  .user-profile ul.dropdown {
    left: 0;
  }
}

@media (max-width: 414px) {
  .search-box h3 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .header-image .header-content {
    top: 58%;
  }
  .header-image .header-content h1 {
    font-size: 28px !important;
    margin-bottom: -10px;
  }
  .header-image .header-content h2 {
    font-size: 50px;
    margin-bottom: 0;
  }
  .header-image .header-content h5 {
    font-size: 16px !important;
  }
  .header-image .header-content a {
    margin-top: 1rem;
    font-size: 14px;
  }
  .navbar-nav li.nav-item {
    border-bottom: 1px solid #31808a;
  }
  .navbar-nav li.nav-item:last-child {
    border-bottom: 0;
  }
  .navbar-nav li.nav-item:first-child {
    border-top: 1px solid #31808a;
  }
  .navbar-nav li.nav-item a.nav-link {
    text-transform: uppercase;
    font-size: 13px !important;
  }
  .navbar-nav .user-profile ul.dropdown {
    width: 100% !important;
  }
  .login-bg .log-box {
    width: 90% !important;
  }
  .single-reports,
  .card-width {
    width: 95%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
