{% extends 'account/custom_users/profile.html' %}

{% block orders %}
<div class="card-body">
    <ul class="list-group">

        {% for order in orders %}
        <li class="list-group-item border- px-0">
            <a class="nav-link px-" href="{% url 'tests:confirm-payment-message' order.id %}">
                <strong>{{order.test_info.test_name}}</strong>
            </a>

{#            {{ order.valiadation }}#}

{#            {% if order.valiadation == True %}#}
{#          {% if order.accepted == True and order.valiadation == True %}#}
{#                <li>Verified Testing...</li>#}
{#            {% endif %}#}

            {% if order.accepted == True %}
                <p style="color: green">* Order Confirmed. Ready For Test.</p>

            {% elif order.accepted == False and order.staff_check == True %}
                <p style="color: red">* Order Rejected</p>

            {% elif order.accepted == False and order.staff_check == False %}
                <p style="color: purple">* Order Pending...</p>

            {% endif %}

        {% endfor%}
        </li>
        <hr>

        <!-- Paginator -->
        <ul class="pagination">
            <li class="page-item">

                {% if orders.has_previous %}
                <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="false">&laquo;</span>
                </a>
                {% endif %}

            </li>
            <li class="page-item">
                <a class="page-link" href="#">Page {{ orders.number }} of {{ orders.paginator.num_pages }}.</a>
            </li>
            <li class="page-item">
                {% if orders.has_next %}
                <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
        <!-- Paginator -->

    </ul>
</div>

{% endblock %}