{% extends 'base.html' %}

{% block title %}Edit Profile | ODLRS{% endblock %}

{% block content %}

<style>
    img {
        /* border-radius: 50%;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 130px;
        height: 130px; */
    }

    .card {
        /* width: 50%; */
    }
</style>

<div class="login-bg inner-content pb-4">
    <div class="container">
        <div class="card-width">
            <div class="card log-bo text-center">
                <div class="card-header bg-dark text-center py-">
                    <h3 class="text-white mb-0 text-capitalize">Edit Your Profile</h3>
                </div>
                <div class="card-bottom-img"></div>

                <div class="card-body px-4">

                    <form class="login" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <img src="{{ existing_profile.image.url }}" alt="image" height="200" width="200">

                        {{profile_form.as_p}}

                        <hr>
                        <button type="submit" class="btn btn-dark login-bt w-100 my-2">Update</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>






{% endblock %}