{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"
		integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>

	<!-- loader -->
	<div class="fakeLoader"></div>
	<!-- loader -->


	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" href="{% url 'home' %}"><b>ODLRS</b></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'home' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'diagnostic_centers:all-centers' %}">Centers</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'tests:all-tests' %}">Tests</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'tests:categories' %}">Categories</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link slide-left" href="#">
							<i class="fas fa-cart-plus"></i>
						</a>
					</li> -->

					{% if user.is_authenticated %}
					<li class="nav-item user-profile">
						<a class="nav-link d-flex dropdown-btn" href="#">
							<img src="{{ user.customer_profile.image.url }}" alt="" class="rounded-circle">
							<span class=" dropdown-toggle ml-2">{{user.username}} </span>
						</a>

						<ul class="dropdown">
							<li class="text-center">
								<img src="{{ user.customer_profile.image.url }}" alt="" class="rounded-circle">
								<p>{{ user.customer_profile.profile_name }}</p>
								<a href="{% url 'custom_users:profile-edit' %}">
									Edit Profile
								</a>
							</li>
							<div class="dropdown-divider"></div>
							<li class="dropdown-item">
								<a href="{% url 'custom_users:orders-by-user' %}"> View Profile</a>
							</li>
							<li class="dropdown-item">
								<a href="{% url 'custom_users:filtered-reports-by-user' user.id %}"> Reports</a>
							</li>
							<li class="dropdown-item">
								<a href="{% url 'account_logout' %}"> Logout</a>
							</li>
						</ul>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
					</li> -->
					{% else %}
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'account_login' %}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
					</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

	<!-- <div class="add-to-cart-box" id="add-to-cart">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title float-left">Lorem, ipsum dolor.</h5>
				<button type="button" class="close  slide-right">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="card-body p-4">

				<p class="item-price"> <span id="itemPrice"></span> BDT </p>

			</div>
		</div>
	</div> -->

	{% block content %} {% endblock %} {% block extra_body %} {% endblock %}

	<div class="footer text-white text-center py-3">
		<div class="w-100 text-center d-flex justify-content-center">
{#			<div class="d-box"> Developed By</div>#}

            <div class="d-box px-2">
				<a class="text-warning" href="{% url 'developers' %}" target="_blank"
					data-toggle="tooltip" data-placement="top" title="About Developers">About Developers</a>
			</div>

{#			<div class="d-box px-2">#}
{#				<a class="text-warning" href="https://www.linkedin.com/in/abdullah-al-galib" target="_blank"#}
{#					data-toggle="tooltip" data-placement="top" title="Abdullah Al Galib">Galib</a>#}
{#				and#}
{#			</div>#}
{##}
{#			<div class="d-box">#}
{#				<a class="text-warning" href="https://www.linkedin.com/in/sohanoor" target="_blank" data-toggle="tooltip"#}
{#					data-placement="top" title="Sohanur Rahman">#}
{#					Sohanur#}
{#				</a>#}
{#			</div>#}

		</div>
	</div>








	<script src="{% static 'js/fakeLoader.min.js' %}"></script>
	<script>
		$.fakeLoader();
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	<script>
		$(document).ready(function () {
			$(".dropdown-btn").click(function () {
				$('.dropdown').toggle();
			});
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>