{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Developers</title>
    <STYLE>A {text-decoration: none;} </STYLE>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <div class="container">
        <br>
        <h2>Developers and Contributors:</h2>
        <br>
        <div class="jumbotron">
            <h4>
                1. <a href="https://www.linkedin.com/in/abdullah-al-galib/" target="_blank" title="Md. Abdullah Al Galib">Galib</a> ~ (Copyright © 2019)
            </h4>

            <h4>
                2. <a href="https://www.linkedin.com/in/sohanoor" target="_blank" title="Md. Sohanur Rahman">Sohanur</a> ~ (Copyright © 2019)
            </h4>

            <h4>3. <a href="https://www.facebook.com/ahredoan" target="_blank" title="Ahsan Habib">Ahsan</a></h4>

            <h4>4. <a href="https://www.facebook.com/nazmul.0105" target="_blank" title="Md. Nazmul Hossain">Nazmul</a></h4>

            <h4>5. <a href="https://www.facebook.com/tareq.py" target="_blank" title="Mohammad Bin Qasim">Tareq</a></h4>

            <h4>6. <a href="https://www.facebook.com/masudmorshed6" target="_blank" title="Masud Morshed">Masud</a></h4>

            <h4>7. <a href="https://www.facebook.com/icerahi" target="_blank" title="Rahi Chowdory">Rahi</a></h4>

            <h4>8. <a href="https://www.facebook.com/python.m" target="_blank" title="Mohaiminul Hasan">Mohaimin</a></h4>

            <h4>9. <a href="https://www.facebook.com/rumimanzurul.hoque" target="_blank" title="Rumi Manjurul Hoque">Rumi</a></h4>
        </div>
    </div>

</body>
</html>

