{% extends 'base.html' %}

{% block title %}Home | ODLRS{% endblock %}

{% block content %}
<style>
    p {
        margin-bottom: 0;
    }
</style>

<div class="welcome container text-dark">

    <!-- search -->
    <div class="bg-dark p-5 my-4">
        <div class="container">
            <h3 class="text-white mb-4">Search Tests</h3>

            <form class="search" action="" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" name='q' placeholder="search tests..."
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info" class="searchButton">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- search end -->

    <!-- categories -->
    <h1>Categories</h1>
    <hr>
        {% for category in all_category %}
            <li><a href="{% url 'tests:categorise-tests' category.id %}">{{ category.category_name }}</a></li>
        {% endfor %}

    <hr>
    <!-- categories end -->

    <!-- all tests -->
    <div class="row mt-4">
        {% for test in all_tests_paginator_data %}
        <div class="col-3">
            <div class="card mb-4">
                <img src="{{ test.image.url }}" class="card-img-top" alt="..." width="100%">

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'tests:test-details' test.id %}">{{ test.test_name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ test.category }}</h6>
                    <p class="card-text">{{ test.center }}</p>

                    {% if test.discount %}
                    <p class="card-text">Discount: {{ test.discount }}</p>
                    {% endif %}

                    <p class="card-text text-danger">Price: {{ test.price }} TK</p>
                    <p class="card-text">{{ test.active_status }}</p>

                    <div class="dropdown-divider"></div>
                    <div class="btn-block text-center">
                        <a class="btn btn-primary btn-sm m-auto" href="{% url 'tests:order' test.id %}"
                            type="submit">ORDER</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- all tests paginator -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                {% if all_tests_paginator_data.has_previous %}
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="false">&laquo;</span>
                </a>
                {% endif %}

            </li>
            <li class="page-item">
                <a class="page-link" href="#">Page {{ all_tests_paginator_data.number }} of
                    {{ all_tests_paginator_data.paginator.num_pages }}</a>
            </li>
            <li class="page-item">
                {% if all_tests_paginator_data.has_next %}
                <a class="page-link" href="?page={{ all_tests_paginator_data.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <!-- all tests paginator end -->
    <!-- all tests end -->
</div>

{% endblock content %}