<div class=" px-0 pt-3" style="width: 100%">
{% if messages %}
        <div class="messages">
            <ul class="messages p-0 m-0" style="list-style: none;">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if 'html_safe' in message.tags %}
                              <div class="alert alert-success mx-0" id="publishPost">
                                  <strong>{{ message | safe }}</strong>
                              </div>
                            {%  else %}
                              <div class="alert alert- mx-0" id="publishPost">
                                  <strong>{{ message }}</strong>
                              </div>
                            {% endif %}</li>
                {% endfor %}
            </ul>
        </div>
{% endif %}
</div>
