<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Added Test-Staff | ODLRS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <style>
        p {
            margin-bottom: 0;
        }

        .card {
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            border-width: 0;
            transition: all .2s;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-warnin" href="#"><b>ODLRS</b> <span
                    class="text-white">({{ staff.username }})</span></a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->



            <div class="" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link text-white"
                            href="{% url 'diagnostic_centers:staff-dashboard' staff.username %}">
                            <button type="submit" class="btn btn-white btn-sm">Back to DASHBOARD</button>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-4">
        <div class="row">

            {% for test in all_added_tests %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card mb-4">
                    <img src="{{ test.image.url }}" class="card-img-top" alt="..." width="100%">

                    <div class="card-body">


                        <h5 class="card-title">{{ test.test_name }}
                            {#                            <a href="{% url 'tests:test-details' test.id %}">{{ test.test_name }}</a>#}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ test.category }}</h6>
                        <p class="card-text center">{{ test.center }}</p>
                        <p class="card-text">Discount: {{ test.discount }}</p>
                        <p class="card-text text-danger">Price: {{ test.price }} TK</p>
                        <p class="card-text">{{ test.active_status }}</p>
                    </div>

                </div>
            </div>
            {% endfor %}
            <br><br>

            <!-- All added tests Paginator -->
            <ul class="pagination">
                <li class="page-item">

                    {% if all_added_tests.has_previous %}
                    <a class="page-link" href="?page={{ all_added_tests.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="false">&laquo;</span>
                    </a>
                    {% endif %}

                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Page {{ all_added_tests.number }} of
                        {{ all_added_tests.paginator.num_pages }}.</a>
                </li>
                <li class="page-item">

                    {% if all_added_tests.has_next %}

                    <a class="page-link" href="?page={{ all_added_tests.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
            <!-- All added tests Paginator -->

        </div>
    </div>

    {#    {% for staff in staffs_by_center %}#}
    {#        <li>{{ staff.username }}</li>#}
    {#    {% endfor %}#}

    <div class="footer bg-dark text-white text-center py-2">
        <div class="d-box px-2">
            <a class="text-white" href="{% url 'developers' %}" target="_blank" data-toggle="tooltip"
                data-placement="top" title="About Developers">About Developers</a>
        </div>
    </div>

</body>

</html>