{% extends 'base.html' %}

{% block title %}All Tests | ODLRS{% endblock %}

{% block content %}

<style>
    p {
        margin-bottom: 0;
    }

    p.center {
        font-size: 14px;
    }
</style>


<div class="container mt-4">
    <div class="row">

        {% for test in all_test_list %}
        <div class="col-3 mb-4">
            <div class="card">
                <img src="{{ test.image.url }}" class="card-img-top" alt="..." width="100%">

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'tests:test-details' test.id %}">{{ test.test_name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ test.category }}</h6>
                    <p class="card-text center">{{ test.center }}</p>
                    <p class="card-text">Discount: {{ test.discount }}</p>
                    <p class="card-text text-danger">Price: {{ test.price }} TK</p>
                    <p class="card-text">{{ test.active_status }}</p>

                    <div class="dropdown-divider"></div>
                    <div class="btn-block text-center">
                        <a class="btn btn-primary btn-sm m-auto" href="{% url 'tests:order' test.id %}"
                            type="submit">ORDER</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}