{% extends 'base.html' %}

{% block title %}All Tests | ODLRS{% endblock %}

{% block content %}

    <!-- search -->
    <div class="bg-dark p-5 my-4 col-md-12">

        <div class="container">
            <h3 class="text-white mb-4">Search Tests</h3>

            <form class="search" action="" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" name='q' placeholder="type any test's name..."
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info" class="searchButton">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- search end -->

<div class="container inner-content">
    <div class="row">

        {% for test in all_test_list %}
        <div class="col-3">
            <div class="card test-box">
                <div class="card-title">
                    <img src="{{ test.image.url }}" class="card-img-top" alt="..." width="100%">
                    <!-- {% if test.discount %}
                    <p class="card-text">Discount: {{ test.discount }}</p>
                    {% endif %} -->
                </div>

                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted">{{ test.category }}</p>

                    <h6 class="">
                        <a href="{% url 'tests:test-details' test.id %}">{{ test.test_name }}</a>
                    </h6>

                    <p class="card-text">{{ test.center }}</p>


                    <p class="card-text text-dange price">Price: <span id="price">{{ test.price }}</span> TK</p>
                    <!-- <p class="card-text">{{ test.active_status }}</p> -->

                    <a class="btn btn-sm order-btn text-center" href="{% url 'tests:order' test.id %}" type="submit">
                        ORDER
                    </a>
                </div>

                <!-- <div class="btn-block text-center">
                    <p class="btn-group">
                        <button class="btn btn-warning btn-sm cart-btn" id="cart-btn" data-slug="{{ test.id }}">
                            Add to cart
                        </button>

                        <a class="btn btn-sm order-btn" href="{% url 'tests:order' test.id %}" type="submit">
                            ORDER
                        </a>

                    </p>
                </div> -->

            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}