{% extends 'base.html' %}

{% block title %}Categories | ODLRS{% endblock %}

{% block content %}

<style>
    .box {
        min-height: 700px;
    }

    .box a {
        text-decoration: none;
        transition: 0.3s ease;
        display: block;
    }

    .box a:hover {
        transform: scale(1.1);
    }
</style>


<div class="container box inner-content">
    <div class="row mt-">

        {% for category in  categories %}

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4">
            <a class="text-white" href="{% url 'tests:categorise-tests' category.id %}">
                <div class="card bg-info  py-5">
                    <h3> {{ category.category_name }} </h3>
                </div>
            </a>
        </div>

        {% endfor %}

    </div>
</div>

<!-- <h1>All Categories</h1>


{% for category in  categories %}

<h3 style="color: blue">* <a href="{% url 'tests:categorise-tests' category.id %}">{{ category.category_name }}</a></h3>

{% endfor %} -->

{% endblock %}