{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Test | ODLRS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body class="common-bg">
    <!-- loader -->
    <div class="fakeLoader"></div>
    <!-- loader -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-warning" href="#"><b>ODLRS</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item user-profile">
                        <a class="nav-link d-flex dropdown-btn" href="#">
                            <img src="{% static 'images/admin-staff.png' %}" alt="" class="rounded-circle">
                            <span class=" dropdown-toggle text-white ml-2">Admin</span>
                        </a>

                        <ul class="dropdown">
                            <li class="text-center">
                                <img src="{% static 'images/admin-staff.png' %}" alt="" class="rounded-circle mb-2">
                                <a href="http://localhost:8000/admin-dashboard/labaid_admin_1">Admin Dashboard</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li class="dropdown-item">
                                <a href="{% url 'diagnostic_centers:admin-logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="card-width">
            <div class="card mb-5">
                <div class="card-header bg-dark text-center py-">
                    <h2 class="text-white mb-0 text-uppercase"> Edit Test </h2>
                </div>
                <div class="card-bottom-img"></div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {{ edit_form.as_p }}

                        <button class="btn btn-dark w-100 mt-4" type="submit">UPDATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer bg-dark text-white text-center py-2">
        <p class="mb-0"> &copy; Copyrights 2019. All rights reserved. </p>
    </div>


    <script src="{% static 'js/fakeLoader.min.js' %}"></script>
    <script>
        $.fakeLoader();
    </script>
    <script>
        $(document).ready(function () {
            $(".dropdown-btn").click(function () {
                $('.dropdown').toggle();
            });
        });
    </script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>