{% extends 'base.html' %}
{% block title %}Order | ODLRS{% endblock %}
{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-6 offset-3 text-cente">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Order</h3>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        {% csrf_token %}

                        {{ test_order_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-sm">
                            CONFIRM
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}