{% extends 'base.html' %}

{% block title %}Order Details | ODLRS{% endblock %}

{% block content %}

<div class="box inner-content login-bg">
    <div class="container">
        <div class="row my-">
            <div class="col-6 offset-3 text-cente">
                <div class="card order-form mb-4">

                    <div class="card-body">
                        <h3 class="mb-">Order Details</h3>

                        <!-- <p>
                            <span>Order No: </span>
                            <span>{{ order_details.id }}</span>
                        </!-->
                        <p>
                            <span>Client:</span>
                            <span>
                                {{ order_details.client_info }}
                                ({{ order_details.client_info.profile_name }})
                            </span>
                        </p>
                        <p>
                            <span>Email:</span>
                            <span>{{ order_details.client_info.user.email }}</sp>
                        </p>
                        <p>
                            <span>Contact: </span>
                            <span>{{ order_details.contact_no }}</span>
                        </p>
                        <p>
                            <span>Address:</span>
                            <span>{{ order_details.client_info.address }}</span>
                        </p>
                        <hr />

                        <p>
                            <span>Test Name:</span>
                            <span>{{ order_details.test_info.test_name }}</span>
                        </p>
                        <p>
                            <span>Category:</span>
                            <span>{{ order_details.test_info.category }}</span>
                        </p>
                        <p>
                            <span>Center:</span>
                            <span>{{ order_details.test_info.center.name }}</span>
                        </p>
                        <p>
                            <span>Booked Time Slot: </span>
                            <span>{{ order_details.booked_time_slot }}</span>
                        </p>
                        <p>
                            <span>Booked Date: </span>
                            <span>{{ order_details.booked_date }}</span>
                        </p>
                        <hr>
                        <p>
                            <span>Payment Type:</span>
                            <span>{{ order_details.payment_type }}</span>
                        </p>
                        <p>
                            <span>Payment Method:</span>
                            <span>{{ order_details.payment_method }}</span>
                        </p>
                        <hr />

                        <p>
                            <span>Discount:</span>
                            <span> {{ order_details.test_info.discount }}</span>
                        </p>
                        <p>
                            <span>Test Price:</span>
                            <span> {{ order_details.test_info.price }}</span>
                        </p>
                        <hr />

                        <p>
                            <span>Total Price: </span>
                            <span style="color: red"> {{ total_price }} </span>
                        </p>

                        <hr />
                        {% if request.user.is_authenticated %}

                        <a href="{% url 'tests:confirm-payment-message' id=order_details.id %}">
                            <button type="button" class="btn custom-btn w-100">CONFIRM</button>
                        </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}