{% extends 'base.html' %}
{% block title %}Order Form | ODLRS{% endblock %}
{% block content %}

<div class="container inner-conten login-b>
    <div class=" row ">
        <div class=" col-6 offset-3 text-cente">
    <div class="card log-box">

        <div class="card-body log-bo">
            <h3 class="mb-0">Order</h3>

            <form action="{% url 'tests:order' test_id %}" method="post">
                {% csrf_token %}

                {{ test_order_form.as_p }}
                <br>
                <button type="submit" class="btn btn-primary btn-sm">
                    ORDER
                </button>
            </form>

        </div>
    </div>
</div>
</div>
</div>

{% endblock %}