{% extends 'base.html' %}
{% block title %}Order Form | ODLRS{% endblock %}
{% block content %}

<div class="containe inner-conten common-bg login-bg">
    <div class="container">
        <div class="card-width">
            <div class="card card-form mb-5">
                <div class="card-header bg-dark text-center py-">
                    <h2 class="text-white mb-0 text-uppercase">Order</h2>
                </div>
                <div class="card-bottom-img"></div>

                <div class="card-body">

                    <form action="{% url 'tests:order' test_id %}" method="post" class="for-date-time">
                        {% csrf_token %}

                        {{ test_order_form.as_p }}

                        <button type="submit" class="btn btn-dark custom-bt my-2 w-100 bt-sm">
                            ORDER
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}