{% extends 'base.html' %}

{% block title %}Payment Method | ODLRS{% endblock %}

{% block content %}
    <br>
    <h2 style="color: blue">Please select a Payment method</h2>
    <hr>
<select>

    <option value="volvo">Bkash</option>
    <option value="saab">Cradit Card</option>
    <option value="saab">On Spot</option>

</select>
    <br>
    <br>
<a href="{% url 'tests:confirm-payment-message' id=order_details.id %}">
    <button type="button" class="btn btn-success">Confirm</button>
</a>

<a href="{% url 'tests:order-details' id=order_details.id %}">
    <button type="button" class="btn btn-danger">Cancel</button>
</a>

    <hr>
{% endblock %}

