{% extends 'base.html' %}

{% block title %}Payment Method | ODLRS{% endblock %}

{% block content %}
    <br>
<select>

    <option value="volvo">Bkash</option>
    <option value="saab">Cradit Card</option>
    <option value="saab">On Spot</option>

</select>
    <br>
    <br>
<a href="{% url 'tests:order-details' id=order_details.id %}"><button type="submit">Confirm</button></a>
<a href="{% url 'tests:order-details' id=order_details.id %}"><button type="submit">Reject</button></a>
    <hr>
{% endblock %}

