{% extends 'base.html' %}

{% block title %}Single Test | ODLRS{% endblock %}

{% block content %}
        <hr>
        <h1>Single Test</h1>
        <br>
        <br>

    <b style="color: orangered">
                --------------------------------------------------------------------------------
                --------------------------------------------------------------------------------
    </b>

    <h4>Name: <b style="color: blue">{{ single_test_details.test_name }}</b></h4>

    <img src="{{ single_test_details.image.url }}" alt="image" height="300" width="500">

    <h5>ID: <b style="color: red">{{ single_test_details.id }}</b></h5>

    <h4>Category: <b style="color: blue">{{ single_test_details.category }}</b></h4>

    <h4>Diagnostic Center: <b style="color: blue">{{ single_test_details.center }}</b></h4>

    <h4>Discount: <b style="color: blue">{{ single_test_details.discount }}</b></h4>

    <h4>Price: <b style="color: blue">{{ single_test_details.price }}</b></h4>

    <h4>Status: <b style="color: blue">{{ single_test_details.active_status }}</b></h4>

    <br>
    <button type="submit"><b><a href="{% url 'tests:order' single_test_details.id %}">ORDER</a></b></button>
    <br>

{% endblock %}

