{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Admin Login | ODLRS</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <style>
        .login-bg {
            width: 100%;
            height: 100vh;
        }

        .log-box {
            width: 350px;
        }
    </style>
</head>

<body>

    <div class="login-bg">
        <div class="container ">

            <div class="card log-box text-cente my-">

                <!-- <div class="card-header bg-success text-white py-3">
                </div> -->

                <div class="card-body py-4">

                    <h3 class="mb-0">Admin Login</h3>
                    <h6 class="mb-4 text-center">Login for your Diagnostic Center</h6>

                    <form method="post" class="login">
                        {% csrf_token %}

                        {{ admin_login_form.as_p }}

                        <button class="btn login-btn my-3" type="submit" style="width: 100%">
                            LOGIN
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <script src="{% static 'js/fakeLoader.min.js' %}"></script>
    <script>
        $.fakeLoader();
    </script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>