{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Admin Dashboard</title>

    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and component">
    <meta name="msapplication-tap-highlight" content="no">


    <link rel="stylesheet" type="text/css" href="{% static 'css/fakeLoader.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <link href="{% static  'css/plugin.css' %}" rel="stylesheet">

    <style>
        @media (max-width: 991px) {
            .navbar ul {
                border-top: 1px solid #724684;
            }

            .navbar ul li {
                border-bottom: 1px solid #724684;
            }

            .navbar ul li:last-child {
                border-bottom: none;
            }
        }

        .table-responsive {
            width: 100%;
            height: 500px;
        }
    </style>

</head>

<body>

    <!-- loader -->
    <div class="fakeLoader"></div>
    <!-- loader -->

    <nav class="navbar navbar-expand-lg  header-shadow bg-alternate">
        <div class="container-fluid">
            <a class="navbar-brand text-white"
                href="{% url 'diagnostic_centers:admin-dashboard' admin.username %}"><b>ODLRS</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa fa-bars text-white"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="dropdown nav-item">
                        <a href="{% url 'tests:add-category' admin.username %}" tabindex="0"
                            class="nav-link text-white">Add New Category</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tests:add-test' admin.username %}" tabindex="0" class="nav-link text-white">Add
                            New Test</a>
                    </li>
                    <li class="btn-group nav-item">
                        <a href="{% url 'tests:filtered-categories-by-admin' admin.username %}" tabindex="0"
                            class="nav-link text-white">Recent Categories</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="{% url 'tests:added-tests-list-staff-admin' admin.username %}" tabindex="0"
                            class="nav-link text-white">Recent Tests</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="{% url 'diagnostic_centers:admin-logout' %}" tabindex="0"
                            class="nav-link text-white">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="app-container app-theme-white body-tabs-shadow fixed-heade">
        <div class="app-main">
            <div class="app-main__outer">
                <div class="app-main__inner text-dark">
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content ">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading text-primary">Center Name</div>
                                            <div class="widget-subheading">{{ admin.center }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading text-success">Admin Name</div>
                                            <div class="widget-subheading">{{ admin.username }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading text-danger">Staff Name:</div>
                                            <div class="widget-subheading">
                                                {% for s in admin.staff.all %}
                                                {{ s.username }},
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-header bg-success text-white">
                                    <span class="ml-">Completed Orders</span>
                                </div>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="20px">NO.</th>
                                                <th>Orders</th>
                                                <th>DateTime</th>
                                                <th>Reports</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for report in completed_orders %}
                                            <tr>
                                                <td class="text-center text-muted">{{ forloop.counter }}</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">

                                                                    <a class="text-dark"
                                                                        href="{% url 'report_processing:single-report-details' report.id %}">
                                                                        {{ report.approved_order.test_info.test_name }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">

                                                                    <div class="widget-heading text-primar">
                                                                        {{report.datetime}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">
                                                                    <div class="widget-heading text-primar">
                                                                        {{ report.upload_report }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">
                                                                    <div class="widget-heading text-primar">
                                                                        {{ report.send_message }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="d-block text-center card-footer">
                                        <ul class="pagination mb-0">
                                            <li class="page-item">

                                                {% if completed_orders.has_previous %}
                                                <a class="page-link"
                                                    href="?page={{ completed_orders.previous_page_number }}"
                                                    aria-label="Previous">
                                                    <span aria-hidden="false">&laquo;</span>
                                                </a>
                                                {% endif %}

                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Page {{ completed_orders.number }} of
                                                    {{ completed_orders.paginator.num_pages }}.</a>
                                            </li>
                                            <li class="page-item">

                                                {% if completed_orders.has_next %}

                                                <a class="page-link"
                                                    href="?page={{ completed_orders.next_page_number }}"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner bg-alternate">
                            <div class="w-100 text-center d-flex justify-content-center">

                                <div class="d-box px-2">
                                    <a class="text-white" href="{% url 'developers' %}" target="_blank"
                                        data-toggle="tooltip" data-placement="top" title="About Developers">About
                                        Developers</a>
                                </div>
                                {#                                <div class="d-box"> Developed By</div>#}
                                {#                                <div class="d-box px-2">#}
                                {#                                    <a href="https://www.linkedin.com/in/abdullah-al-galib" target="_blank">Galib</a>#}
                                {#                                    and#}
                                {#                                </div>#}

                                {#                                <div class="d-box">#}
                                {#                                    <a href="https://www.linkedin.com/in/sohanoor" target="_blank">#}
                                {#                                        Sohanur#}
                                {#                                    </a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/fakeLoader.min.js' %}"></script>
    <script>
        $.fakeLoader();
    </script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/js/plugin.js' %}"></script>
</body>

</html>