<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard | ODLRS</title>
</head>

<body>
{#    {% include 'diagnostic_centers/messages.html' %}#}
{#{% if messages %}#}
{#    <strong>Messages:</strong>#}
{#    <ul>#}
{#	    {% for message in messages %}#}
{#	        <li>{{message}}</li>#}
{#	    {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}

    <h1>Admin Dashboard</h1>
    <hr>
    <button type="submit"><a href="{% url 'diagnostic_centers:admin-logout' %}"><b>Logout</b></a></button>
    <hr>
    <h3>Diagnostic Center Name: <b style="color: blue">{{ admin.center }}</b></h3>
    <h3>Admin Name: <b style="color: blue">{{ admin.username }}</b></h3>
    <hr>
    <h2>Admin Task Status</h2>
    <br>
    <h4>Staffs Under Admin:</h4>

    <div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
{#            <th scope="col">Center</th>#}
        </tr>
        </thead>
        <tbody>
        {% for s in admin.staff.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td style="color: blue">{{ s.username }}</td>
{#                <td>{{ s.center }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>