{% extends 'base.html' %}

{% block title %}All Centers | ODLRS{% endblock %}

{% block content %}

<form class="search input-group mt-4" action="" method="GET">
    <input type="text" name='q' placeholder="type anything...">
    <button type="submit" class="searchButton"><i class="fa fa-search">SEARCH</i></button>
</form>


    <hr>
    <h1>All Diagnostic Centers</h1>
    <hr>
    <br>
    {% for center in Centers %}

        <h3>Name: <b style="color: orangered">{{ center.name }}</b></h3>

        <img src="{{ center.image.url }}" alt="image" height="300" width="300">

        <h3>ID: <b style="color: orangered">{{ center.id }}</b></h3>
        <h3>Email: <b style="color: orangered">{{ center.email }}</b></h3>
        <h3>Contact: <b style="color: orangered">{{ center.contact_no }}</b></h3>
        <h3>Website: <b style="color: orangered">{{ center.website }}</b></h3>
        <h3>Address: <b style="color: orangered">{{ center.address }}</b></h3>
        <hr>
        <hr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if Centers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ Centers.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ Centers.number }} of {{ Centers.paginator.num_pages }}.
            </span>
    
            {% if Centers.has_next %}
                <a href="?page={{ Centers.next_page_number }}">next</a>
                <a href="?page={{ Centers.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}