{% extends 'base.html' %}

{% block title %}All Centers | ODLRS{% endblock %}

{% block content %}


<div class="container inner-content">

    <div class="search-box bg-dark p- my-">
        <div class="container">
            <h3 class="text-white mb-">Search Centers</h3>

            <form class="search" action="" method="GET">

                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name='q' placeholder="type any center's name..."
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info" class="searchButton">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="center-lists mt-">
        <div class="row">

            {% for centers in Centers %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card test-box mt-4 mb-0">
                    <div class="card-title">
                        <img src="{{ centers.image.url }}" class="card-img-top" alt="..." width="100%">
                    </div>

                    <div class="card-body">
                        <a href="{% url 'diagnostic_centers:center-details' centers.id %}">{{ centers.name }}</a>

                        <p class=""> <span>{{ centers.email }}</span></p>
                        <p class=""> <span>{{ centers.contact_no }}</span></p>
                        <p class=""> <span>{{ centers.website }}</span> </p>
                        <!-- <p class="">Address: <span>{{ centers.address }}</span> </p> -->
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


    <ul class="pagination">
        <li class="page-item">
            {% if Centers.has_previous %}
            <a class="page-link" href="?page={{ Centers.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="false">&laquo;</span>
            </a>
            {% endif %}

        </li>
        <li class="page-item">
            <a class="page-link" href="#">Page {{ Centers.number }} of {{ Centers.paginator.num_pages }}.</a>
        </li>
        <li class="page-item">
            {% if Centers.has_next %}
            <a class="page-link" href="?page={{ Centers.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
        </li>
    </ul>
    </nav>

</div>

{% endblock %}