<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Login | ODLRS</title>
</head>

<body>
{% if messages %}
    <strong>Messages:</strong>
    <ul>
	    {% for message in messages %}
	        <li>{{message}}</li>
	    {% endfor %}
    </ul>
{% endif %}

    <h1>Staff Login</h1>
    <hr>
    <b>Login for your Diagnostic Center</b>
    <hr>

    <form method="post">
        {% csrf_token %}

        {{ staff_login_form.as_p }}

        <button type="submit">LOGIN</button>
    </form>

</body>
</html>