<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Staff Dashboard | ODLRS</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"
        integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-warning" href="#"><b>ODLRS</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"> Report List </a>
                    </li>

                    <li class="nav-item">
                        <!-- <button type="submit"> -->
                        <a class="nav-link text-white" href="{% url 'tests:all-tests-list-staff-admin' %}">Recently
                            Added
                            Tests</a>
                        <!-- </button> -->
                    </li>

                    <li class="nav-item">
                        <!-- <button type="submit"> -->
                        {#                        <a class="nav-link text-warning"#}
                        {#                            href="http://localhost:8000/staff-dashboard/labaid_staff_1">Staff#}
                        {#                            Dashboard</a>#}
                        <a class="nav-link text-warning"
                            href="{% url 'diagnostic_centers:staff-dashboard' staff.username %}">
                            Staff Dashboard
                        </a>
                        <!-- </button> -->
                    </li>

                    <li class="nav-item">
                        <!-- <button type="submit"> -->
                        <a class="nav-link text-white" href="{% url 'diagnostic_centers:staff-logout' %}">Logout</a>
                        <!-- </button> -->
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="staff bg-dark text-white text-center p-4 my-4">
            <h1> <strong>Staff Dashboard</strong> </h1>

            <div class="row mt-4 mx-4 py-3 bg-warning text-dark">
                <div class="col">
                    <h6 class="text-white mb-0"> <strong class="text-dark">Center Name:</strong> {{ staff.center }}
                    </h6>
                </div>
                <div class="col">
                    <h6 class="text-white mb-0"> <strong class="text-dark">Staff Name:</strong> {{ staff.username }}
                    </h6>
                </div>
                <div class="col">
                    <h6 class="text-white mb-0"> <strong class="text-dark">Reported To:</strong>

                        {% for a in admins %}
                        {{ a.username }}
                        {% endfor %}

                    </h6>
                </div>
            </div>

        </div>

        <div class="staff-task">
            <div class="row">
                <div class="col">

                    <table class="table table-striped table-bordered table-hover mb-4">
                        <thead>
                            <tr class="bg-danger text-white">
                                <th colspan="2"> Pending Orders </th>
                            </tr>
                            <tr>
                                <th>SL NO.</th>
                                <th> Test Names </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for test in pending_tests %}

                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    {#                                    <a href="{% url 'tests:order-details' test.id %}">#}
                                    <a href="{% url 'tests:confirm-payment-message' test.id %}">
                                        <strong>{{ test.test_info.test_name }}</strong>
                                    </a>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    <!-- Pending Paginator -->
                    <ul class="pagination">
                        <li class="page-item">

                            {% if pending_tests.has_previous %}
                            <a class="page-link" href="?page={{ pending_tests.previous_page_number }}"
                                aria-label="Previous">
                                <span aria-hidden="false">&laquo;</span>
                            </a>
                            {% endif %}

                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Page {{ pending_tests.number }} of
                                {{ pending_tests.paginator.num_pages }}.</a>
                        </li>
                        <li class="page-item">

                            {% if pending_tests.has_next %}

                            <a class="page-link" href="?page={{ pending_tests.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    <!-- Pending Paginator -->



                </div>


                <div class="col">

                    <table class="table table-striped table-bordered table-hover mb-4">
                        <thead>
                            <tr class="bg-success text-white">
                                <th colspan="2"> Confirmed Orders </th>
                            </tr>
                            <tr>
                                <th>SL NO.</th>
                                <th> Test Names </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for test in confirmed_tests %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>

                                    {% if test.staff_check == True and test.accepted == True %}

                                    <a href="{% url 'tests:confirm-payment-message' test.id %}">
                                        <strong>{{ test.test_info.test_name }}</strong>
                                    </a>
{#                                    <li style="color: purple">Send Report (PDF from Local Machine)</li>#}
{#                                    <li style="color: red">Report Status (Sent / Not Sent)</li>#}

                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <!-- Confirmed Paginator -->
                    <ul class="pagination">
                        <li class="page-item">

                            {% if confirmed_tests.has_previous %}
                            <a class="page-link" href="?page={{ confirmed_tests.previous_page_number }}"
                                aria-label="Previous">
                                <span aria-hidden="false">&laquo;</span>
                            </a>
                            {% endif %}

                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Page {{ confirmed_tests.number }} of
                                {{ confirmed_tests.paginator.num_pages }}.</a>
                        </li>
                        <li class="page-item">

                            {% if confirmed_tests.has_next %}

                            <a class="page-link" href="?page={{ confirmed_tests.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    <!-- Confirmed Paginator -->
                </div>


                <div class="col">

                    <table class="table table-striped table-bordered table-hover mb-4">
                        <thead>
                            <tr class="bg-dark text-white">
                                <th colspan="2"> Orders Validation and Finalize </th>
                            </tr>
                            <tr>
                                <th>SL NO.</th>
                                <th> Test Names </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for test in confirmed_tests %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>

                                    {% if test.staff_check == True and test.accepted == True %}

                                    <a href="{% url 'tests:confirm-payment-message' test.id %}">
                                        <strong>{{ test.test_info.test_name }}</strong>
                                    </a>
                                    <li style="color: crimson">Payment Clearance (CheckBox)</li>
                                    <li style="color: crimson">Report Upload (CheckBox)</li>
                                    <li style="color: crimson">Send Report (CheckBox)</li>

                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <!-- Finalize Paginator -->
                    <ul class="pagination">
                        <li class="page-item">

                            {% if confirmed_tests.has_previous %}
                            <a class="page-link" href="?page={{ confirmed_tests.previous_page_number }}"
                                aria-label="Previous">
                                <span aria-hidden="false">&laquo;</span>
                            </a>
                            {% endif %}

                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Page {{ confirmed_tests.number }} of
                                {{ confirmed_tests.paginator.num_pages }}.</a>
                        </li>
                        <li class="page-item">

                            {% if confirmed_tests.has_next %}

                            <a class="page-link" href="?page={{ confirmed_tests.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    <!-- Finalize Paginator -->
                </div>

            </div>
        </div>

    </div>


    <div class="footer bg-dark text-white text-center py-2">
        <p class="mb-0"> &copy; Copyrights 2019. All rights reserved. </p>
    </div>

</body>

</html>